:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --light_gray:rgb(204, 204, 204);
    --navbar_color:rgb(34, 37, 51);
    --sub_nav_color: rgb(35, 47, 62);
    --path_gray:rgb(86, 89, 89);
    --gray:rgb(169, 166, 166);
  }